.App {
  text-align: center;
}

.signin-button {
	flex: 1 1 100%;
	max-width: 50%;
	font-family: Lato, "sans-serif" "Noto Sans";
}

.form-input {
	font-family: Lato, "sans-serif" "Noto Sans";
	font-weight: bold;
	line-height: 1.45rem;
	font-size: 20px;
}

.red-bold {
	font-weight: bold;
	color: #d3080c;
}

.h1-page-title {
	font-size: 2.5em;
	margin-top: 0.75em;
	padding-bottom: 0.2em;
	border-bottom: 1px solid #af3c43;
	font-weight: 600;
    line-height: 1.2;
    color: inherit;
	font-family: Lato, "sans-serif" "Noto Sans";
}